<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Real Estate Page Template</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap-4.3.1.css" rel="stylesheet">
    <link href="css/ptt.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <h3 class="pto"> <a class="tpo" href="index.html">DreamLease.in</a> </h3>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="About.html">About Us</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="trial.html">Contact Us</a>
          </li>
           <li class="nav-item active">
            <a class="nav-link" href="post.html">Post a Ad <span class="sr-only">(current)</span></a>
          </li>
          
         
        </ul>
        <form class="form-inline my-2 my-lg-0">
			 <a class="btn-outline-success my-2 my-sm-0" href="signup.html">Sign Up</a>&nbsp&nbsp&nbsp
            
          <a class="btn-outline-success my-2 my-sm-0" href="contact.html">Login</a>
        </form>
      </div>
    </nav>
<section>
  <h3 class="abu">Post A Property Ad For Free..!!</h3>
	  
  </section>
<div class="col-12">
	<div class="container">
  <form action="action_page.php">

    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">

    <label for="lname">Middle Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">
	  
    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">
	  <label for="country">Property type </label>
    <select id="country" name="country">
     <option value="">Flat</option>
                    <option value="">Bungalow</option>
					<option value="">P.G/Hostel</option>
                  
    </select>

    <label for="country">Location</label>
    <select id="country" name="country">
       <option value="">Any</option>
                    <option value="">Mumbai</option>
                    <option value="">Pune</option>
					<option value="">Bangalore</option>
					<option value="">Hyderabad</option>
					<option value="">Chennai</option>
                  
    </select>
	  <label for="lname">Property Locality</label>
    <input type="text" id="lname" name="lastname" placeholder="Enter Proper Locality (ex-Andheri,Kothrud)">
	  
	  <label for="img">Upload Property Images:</label>
 <br> <input type="file" id="img" name="img" accept="image/*"><br>
  
	  <br><input class="iot" type="submit" value="Upload"><br>
	  
   
    <br><label for="subject">Property Description:</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:120px"></textarea>

    <input class="yuc" type="submit" value="Post a Ad">

  </form>
</div>
	  
	  </div>
	  
    <footer class="text-center">
     <p>Copyright © DreamLease.in  All rights reserved.</p>
    </footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap-4.3.1.js"></script>
  </body>
</html>